@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:500,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Josefin Sans', 'Times', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--blue);
}

a {
  color: var(--blue);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.wrapper__top {
  position: relative;
  background-color: rgba(234, 172, 139, 0.45);
  min-height: 844px;
}

.wrapper__top::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.05;
  z-index: -1;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  background: linear-gradient(94.66deg, #4499D9 17.46%, #7367BE 87.77%);
  background-size: 100% 100%;
  background-position: 0% 0%;
  padding: 14px 16px;
  border-radius: 25px;
  line-height: 1;
  color: var(--white);
  transition: 0.4s ease;
}

.button:hover {
  background-size: 200% 100%;
  background-position: 100% 50%;
}

:root {
  --blue: #446381;
  --red: #EB8382;
  --white: #fff;
}

.header {
  padding: 10px 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__nav {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
