.about {
	&__body {
		display: flex;
		align-items: center;
		gap: 75px;
		flex-direction: row;
	}

	&__image-block {
		width: 100%;
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__title {
		font-size: 3rem;
	}
}
.VR-about {
	margin-top: 100px;
	padding-bottom: 75px;
	.about__content {
		max-width: 540px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			width: 400px; height: 360px;
			background-image: url('../img/about/VR.png');
			background-repeat: no-repeat;
			background-size: contain;
			bottom: -300px;
			left: 50px; 
			margin: auto;
		}
		&::before {
			position: absolute;
			content: '';
			display: flex;
			width: 400px; height: 500px;
			background-image: url('../img/about/bgMen.png');
			background-repeat: no-repeat;
			background-size: cover;
			top: -100px;
			right: -250px;
		}
	}
}

.XBOX-about {
	position: relative;
	padding: 50px 0;
	background-color: rgba($color: #FFE6D7, $alpha: 0.1);
	background-repeat: no-repeat;
	background-size: cover;
	&::before {
		position: absolute;
		content: '';
		background-image: url('../img/about/bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.05;
		z-index: -1;
	}
	.about__content {
		max-width: 520px;
	}
	.about__image-block {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			background-image: url('../img/bg/dots.svg');
			background-repeat: no-repeat;
			width: 170px; height: 170px;
			bottom: 20px; right: -100px;
			z-index: -1;
		}
	}
}