//---Подключение других библиотек---//
// --- Обнуление --- //
@import "_nullstyle.scss";
// ---  Глобальні стилі --- //
@import "_global.scss";
@import "_variables.scss";
// ---  Шрифти ---  // 
@import "_fonts.scss";
// --- header / footer --- /
@import "_header.scss";
@import "_footer.scss";
// --- Другие страницы --- //
@import "_try-it.scss";
@import "_about.scss";
@import "_pricing.scss";
@import "_adaptive.scss";
